<div class="padding-5 background-g5 text-n0 text-align-center modal-border-radius" style="height: 520px;">
  <div class="center-vertically flex flex--align-center flex--justify-center modal-border-radius">
    <div class="loading-spinner margin-right-2"><div class="background-g5"></div></div>
    <p class="text-large-4 semi-bold margin-bottom-0">Submitting...</p>
  </div>
</div>
