@include breakpoint(small only) {

  .small-padding-bottom-0 {
    padding-bottom: 0;
  }

  .small-padding-2 {
    padding: 10px;
  }

  .small-margin-bottom-0 {
    margin-bottom: 0;
  }

  .small-full-width {
    width: 100%;
  }

  .most-width {
    width: 80%;
  }
}
