<div class="border-top padding-3 padding-right-4">
  <div class="row">
    <div class="columns shrink">
      {{ff-checkbox checked=false}}
    </div>

    <div class="columns expand small-collapse">
      <div class="skeleton-element skeleton-element__p margin-bottom-3"></div>
      <div class="skeleton-element skeleton-element__p margin-bottom-3"></div>
    </div>
  </div>
</div>
