<div class="margin-bottom-3">
  <svg role="img" alt="No Current Items Icon" width="104px" height="90px" data-test={{hook "tta_transfer_error_icon"}}>
    <use xlink:href="#no-current-items"></use>
  </svg>
</div>

<h4 class="margin-bottom-0 text-n3" data-test={{hook "tta_transfer_error_text"}}>
  {{t "transfer_request.load_error"}}
</h4>
