.background-n1 {
  background-color: $n1;
}

.background-n0 {
  background-color: $n0;
}

.background-black {
  background-color: black;
}

.background-white {
  background-color: white;
}

.background-b5-10 {
  background-color: rgba(30, 177, 255, 0.1);
}

.background-g5 {
  background-color: $g5;
}

.background-g7 {
  background-color: $g7;
}

.background-r5 {
  background-color: $r5;
}
