.small-belt {
  width: 215px;
}

.belt {
  width: 240px;
}

.large-belt {
  width: 300px;
}

.xlarge-belt {
  width: 344px;
}

.modal-belt {
  width: 425px;
}

.most-width {
  width: 90%;
}

.full-width {
  width: 100%;
}
