<div class="padding-5 background-g5 text-n0 text-align-center" style="height: 500px; width: 425px;">
  <div class="center-vertically">
    <i class="tf-check-circle text-size-icon-large small-hide"></i>
    {{#link-to "animation-test.step-3" tagName="h2" class="text-large-6 belt horizontally-centered margin-bottom-0"}}
      Success!
    {{/link-to}}
  </div>
</div>
