<div class="padding-5 text-n8 text-align-center">
  <div class="flex flex--justify-center margin-top-10 margin-bottom-3">
    <div class="circled-icon-large background-g5 circle-animation-in-target">
      <i class="tf-check text-n0 text-size-icon-large"></i>
    </div>
  </div>
  <h2 class="text-large-7 gibson horizontally-centered margin-bottom-10" data-test={{hook "tta_confirmation_modal_success_message"}}>
    Successful!
  </h2>
  <p class="horizontally-centered text-large-4 margin-bottom-0 semi-bold text-n7">
    spencer.price@ticketfly.com
  </p>
  <p class="horizontally-centered text-small-1 text-n7 large-belt margin-bottom-10">
    Successfully sent the tickets to that dude.
  </p>
  {{#link-to "animation-test.step-2" class="button primary expanded text-spacing-2 text-large-2 margin-bottom-0" hook="tta_confirmation_success_done"}}
    Done
  {{/link-to}}
</div>
